@import "reset";

@import "breakpoint";

// Breakpoints
$medium: 481px 768px;
$large: 769px;

@font-face {
  font-family: "DIN Pro";
  src: url("{% asset_path DINPro-Bold.woff2 %}") format("woff2"),
  url("{% asset_path DINPro-Bold.woff %}") format("woff"),
  url("{% asset_path DINPro-Bold.ttf %}") format("truetype");
  font-weight: 700;
  font-style: normal;
}

:root {
  --color-bg: #ffffff;
  --color-text: #000000;
  --color-link: #0000ff;
  --color-icon: #000000;
  font-family: "DIN Pro", "Helvetica Neue", Helvetica, sans-serif;
  text-transform: uppercase;
  background-color: var(--color-bg);
  color: var(--color-text);
  font-size: 16px;
  padding-top: 0.5rem;
  @include breakpoint($large) {
    padding-top: 1rem;
  };
}

body {
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  };
  animation: fadeIn 0.2s both;
  animation-delay: 0.1s;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  @include breakpoint($large) {
    font-size: 5rem;
  };
  text-align: justify;
  word-break: break-all;
  transition: font-size 0.2s;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  @include breakpoint($large) {
    font-size: 3rem;
  };
  margin-bottom: 1rem;
  word-break: break-all;
  transition: font-size 0.2s;
}

p {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5rem;
  margin-bottom: 0.5rem;
  @include breakpoint($large) {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 1rem;
  };
  transition: all 0.2s;
}

a {
  display: inline;
  color: transparent;
  padding-top: .2em;
  background-size: 100% 220%;
  background-position: 0 15%;
  background-image: linear-gradient(to bottom, var(--color-link) 50%, var(--color-bg) 50%),
                    linear-gradient(to bottom, var(--color-bg) 50%, var(--color-link) 50%);
  -webkit-background-clip: text, border-box;
  // background-clip: text, border-box;
  transition: background-position .15s ease;
  &:hover {
    background-position: 0 90%;
  }
}

#body {
  max-width: 38rem;
  padding: 3rem 1.5rem 1rem;
  margin: auto;
}

span.repo {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  a {
    display: inline-block;
  }
  svg {
    position: absolute;
    top: 3px;
    height: 14px;
    @include breakpoint($large) {
      top: 2px;
      height: 22px;
    };
    path {
      fill: var(--color-icon);
    }
  }
}

svg#squiggle {
  display: block;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  path {
    fill: none;
    stroke: var(--color-link);
    stroke-width: 3;
    @keyframes wiggle {
      from {
        transform: translateX(0);
      }
      to {
        transform: translateX(-50px);
      }
    };
    animation: wiggle 0.8s linear infinite;
  }
}
