@import 'reset';

@font-face {
	font-family: 'DIN Pro';
	src: url('{% asset_path DINPro-Bold.woff2 %}') format('woff2'),
		url('{% asset_path DINPro-Bold.woff %}') format('woff'),
		url('{% asset_path DINPro-Bold.ttf %}') format('truetype');
	font-weight: 700;
	font-style: normal;
}

:root{
  --color-bg: #ffffff;
  --color-text: #000000;
  --color-link: #0000ff;
  --color-icon: #000000;
  
  font-family: 'DIN Pro', 'Helvetica Neue', Helvetica, sans-serif;
  text-transform: uppercase;

  padding-top: 1rem;
  background-color: var(--color-bg);
  color: var(--color-text);

  font-size: 16px;
}

body {
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  };
  animation: fadeIn 0.2s both;
  animation-delay: 0.1s;
}

h1 {
  font-size: 5rem;
  text-align: justify;
  word-break: break-all;
}

h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 1rem;
}

a {
  color: var(--color-link);
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}

#body {
  width: 38rem;
  margin: auto;
  padding-top: 3rem;
}

span.repo {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  a { display: inline-block; }
  svg {
    position: absolute;
    top: 2px;
    height: 22px;
    path { fill: var(--color-icon); }
  }
}

svg#squiggle {
  display: block;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  path {
    fill: none;
    stroke: var(--color-link);
    stroke-width: 3;
    @keyframes wiggle {
      from { transform: translateX(0); }
      to { transform: translateX(-50px); }
    };
    animation: wiggle 0.7s linear infinite;
  }
}

hr {
  margin-top: 2rem;
  margin-bottom: 2.5rem;
  border: none;
  height: 4px;
  background-color: var(--color-link);
}

.project {
  display: block;
  width: 800px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 10px;
  img {
    width: 300px;
    float: left;
    border: 0.5px solid rgba(0, 0, 0, 0.05);
    margin-right: 20px;
  }
  h3 {
    padding-top: 2px;
    margin-bottom: 1em;
    span { display: none; }
    a:hover {
      span { display: inline; }
    }
  }
  br { clear: both; }
}
