@tailwind preflight;

@font-face {
    font-family: "URW DIN";
    src: url("/assets/fonts/URW DIN Bold.woff2") format("woff2"),
         url("/assets/fonts/URW DIN Bold.woff") format("woff"),
         url("/assets/fonts/URW DIN Bold.otf") format("opentype");
    font-style: normal;
    font-weight: 700;
}

@tailwind components;

// Smooth-looking page loads

.fade-in-quick {
    @keyframes fadeIn {
        from { opacity: 0; }
        to { opacity: 1; }
    };
    animation: fadeIn 0.2s both;
    animation-delay: 0.1s;
}

@tailwind utilities;

// Markdown blocks

h1 {
    @apply text-5xl leading-none text-justify;
    word-break: break-all;
}

h2 {
    @apply text-4xl;
}

h3 {
    @apply text-3xl;
}

a {
    @apply text-purple2 no-underline inline-block;

    padding-top: .2em;
    padding-left: .2em;
    padding-right: .2em;
    margin-top: -.2em;
    margin-left: -.2em;
    transition: all .15s ease;

    &:hover, &:active, &:focus {
        @apply text-pinkish bg-purple2;
    }

    & > span {
        position: relative;
        top: .05em;
    }
}

// Tailwind 'md'

@media (min-width: 768px) {

    h1 { @apply text-6xl; }

    h2 { @apply text-5xl; }

    h3 { @apply text-4xl; }

    p { @apply text-2xl; } // leading-loose, mb-4

}

// Utilities

.b-1 {
    bottom: .05em;
}

// Specific pages

.page-contact section.body {
    h3 { @apply mb-8; }
}

.page-work section.body {
    h2, h3 { @apply mb-6; }
    * + p { @apply mt-4; }
}

// Etc.

svg#squiggle {
    @apply block m-auto my-12;
    path {
        fill: none;
        stroke: #280833;
        stroke-width: 4;
        @keyframes slide {
            from { transform: translateX(0); }
            to { transform: translateX(-50px); }
        };
        animation: slide 1s linear infinite;
    }
}
